* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

:root {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  background-color: #1a1924;
  font-size: 1.6rem;
  color: #e1e1e6;
}

.navbar {
  color: #fff;
  display: flex;
  position: fixed;
  align-items: center;
  /* justify-content: space-between; */
  padding: 0 6vw;
  width: 100vw;
  background-color: #563a99;
  z-index: 10000;
}

.brand {
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

a {
  margin-left: 1rem;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  padding: 1rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0 6vw 0 6vw;
}

section.header {
  display: grid;
  grid-template-areas:
    "a b"
    "c c"
  ;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 40vh;
}

.header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.header .p-setence {
  color: #036307;
  font-size: 4.5rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
}

.typing-animation {
  animation: blinkCursor 500ms steps(20) infinite normal, typing 2s steps(15) 1s normal both;
}

@keyframes typing {
  from {
    width: 0px;
  }

  to {
    width: 20rem;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

lottie-player {
  width: auto;
}

.wrapperBtn {
  grid-area: c;
  align-items: center;
  height: 4.7rem;
}

a.btn {
  text-decoration: none;
  color: #e1e1e6;
  border: solid 0.2rem;
  padding: 1.2rem;
  border-radius: 1rem;
}

a.btn:hover {
  background-color: rgb(53, 51, 74);
  text-shadow: rgb(0 150 158) 1px 1px 3px;
}

a.btn i {
  font-size: 3.2rem;
  padding: 0;
  position: relative;
  top: 1rem;
}

section.sobre {
  padding-top: 5vh;
  background-color: #21202e;
  gap: 6rem;
  min-height: 40vh;
}

section.sobre img {
  border-left: solid 0.5rem #036307;
  width: 18rem;
}

.description {
  text-align: left;
  width: 100%;
}

.description h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

.description * {
  margin-bottom: 2rem;
}

.description p img {
  width: 4.5rem;
  border: none;
  margin: 0 1rem 0 0
}

#download {
  border: solid 3px rgba(157, 96, 212, 0.5);
}

.experiencias {
  padding-top: 4vh;
  padding-bottom: 4vh;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  min-height: 40vh;
  margin-top: 10vh;
}

.experiencia__wrapper {
  width: 100%;
  display: flex;
  min-height: 40vh;
}

.experiencias h1 {
  font-weight: 400;
  text-align: left;
  width: 100%;
  padding-bottom: 5rem;
}

.experiencia__lugares {
  width: 20vw;
  cursor: pointer;
}

.experiencia__lugares ul {
  list-style: none;
  font-size: 1.6rem;
  padding: 0;
}

.experiencia__lugares ul li.active {
  background-color: #151515;
  border-left: 2px solid #036307;
  font-weight: 600;
}

.experiencia__lugares li {
  padding: 10px;
  text-align: center;
  border-left: 2px solid #272727;
  transition: background-color 0.5s ease;
}

.experiencia__lugares ul li:hover {
  background-color: #272727;
}

.experiencia__descricao {
  width: 60%;
  margin-left: 5rem;
  position: relative;
  line-height: 2rem;
}

.experiencia__descricao section {
  display: none;
}

.experiencia__descricao section.active {
  display: block;
}

.experiencia__descricao section.active.show-right {
  animation: 0.5s forwards show-right;
}

.experiencia__descricao h2 {
  font-size: 3rem;
  line-height: 3rem;
  display: inline-block;
}

.experiencia__descricao span {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 5px;
  font-weight: bold;
}

.experiencia__descricao-local {
  margin: 2rem 0;
  font-size: 1.6rem;
  color: #036307 !important;
  font-weight: bold;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

section.projetos {
  background-color: #21202e;
  gap: 6rem;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  padding-top: 5vh;
  padding-bottom: 10vh;
}


.projetos__wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;
}

.projetos__card {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.projetos__card h2 {
  font-size: 2.2rem;
  margin: 2.5rem 0;
}

.projetos__card span {
  color: #00d2df;
  font-size: 1.6rem;
  display: block;
  margin: 2rem 0;
}

.projetos__card p {
  width: 70%;
}

.projetos__card-button img {
  width: 18px;
}


.cardImage {
  background-color: #3c3a54;
  width: 40vw;
  max-width: 54.6rem;
  height: 20vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-left: 5px solid #05af0b;

  margin: 0;
  padding: 0;
}

.cardImage:hover {
  animation: 0.5s forwards scale;
}

@keyframes scale {
  from {
    transform: scale(100%);
  }

  to {
    transform: scale(110%);
  }
}

.cardImage div {
  background-color: #1a1924;
  width: 1000vw;
  padding: 5% 0;
  transform: rotate(-50deg);

  color: #00d2df;
  text-align: -webkit-center;
  font-size: 3rem;
  text-transform: uppercase;
}


.projetos__card a {
  text-decoration: none;
}

.btn.projectView {
  border: solid 3px #00d2df;
  margin: 0;
}

.projetos__card a i {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.projeto-img {
  width: 100%;
  transition: 0.5s;
}

.projeto-img:hover {
  transform: scale(110%);
  border-left: 5px solid rgba(101, 24, 180, 1);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
}

footer a {
  text-decoration: none;
  color: #05af0b;
}

/* responsive */
@media (max-width: 720px) {
  * {
    font-size: 1.4rem;
  }

  a.btn i {
    font-size: 2.5rem;
  }

  .experiencia__descricao h2 {
    font-size: 2.2rem;
    line-height: 3rem;
    display: inline-block;
  }

  .cardImage {
    width: 30vw;
    max-width: 54.6rem;
  }

  .cardImage a {
    background-color: #1a1924;
    width: 1000px;
    padding: 5% 0;
    transform: rotate(-10deg);

    color: #00d2df;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
  }

  .cardImage img{
    width: 200%;
    object-fit: cover;
  }

  .projetos__card .wrapperBtn *{
    margin-bottom: 5vh;
  }
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #21202e;
}

html::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 5px;
}

@media (max-width: 400px) {
  * {
    font-size: 1.2rem;
  }

  a.btn i {
    font-size: 2.5rem;
  }

  .navbar {
    padding: 0;
  }

  .brand {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
  }

  .header h1 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }

  .header .p-setence {
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
  }

  .typing-animation {
    animation: blinkCursor 500ms steps(20) infinite normal, typingMobile 2s steps(15) 1s normal both;
  }

  @keyframes typingMobile {
    from {
      width: 0px;
    }

    to {
      width: 13rem;
    }
  }

  section {
    padding: 1rem;
  }

  lottie-player {
    max-width: 20rem;
  }

  .wrapperBtn {
    height: 4.7rem;
    padding-bottom: 5vh;
  }

  .wrapperBtn * {
    margin-bottom: 2vh;
  }

  section.sobre {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #21202e;
    gap: 6rem;
    min-height: 40vh;
  }

  section.sobre img {
    border-left: solid 0.5rem #036307;
    width: 10rem;
  }

  .description p img {
    width: 4rem;
    border: none;
    margin: 0 1rem 0 0
  }

  .experiencia__wrapper {
    min-height: 48vh;
  }

  .experiencia__descricao h2 {
    font-size: 2.2rem;
    line-height: 3rem;
    display: inline-block;
  }

  .experiencia__descricao {
    width: 100%;
    margin-left: 2rem;
    position: relative;
    line-height: 2rem;
  }

  .cardImage a {
    background-color: #1a1924;
    width: 1000px;
    padding: 5% 0;
    transform: rotate(-10deg);

    color: #00d2df;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
  }

  .projetos__card .wrapperBtn *{
    margin-bottom: 4vh;
  }
}